{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles%}
{{super()}}
<style>
  .ghost {
    opacity: 0.4;
    background-color:darkgrey;
  }

</style>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/jquery-1.12.4.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sortablejs/Sortable.js') }}"></script>
    <script>
      var el = document.getElementById("el");
      s = Sortable.create(el, {
        animation: 150,
        ghostClass: 'ghost',
        onUpdate: function(evt){
          var postData = s.toArray();
          var postJSON = JSON.stringify(postData);
          $.ajax({
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(postData),
            dataType: 'json',
            url: '/post'
        });
        $.post('/gettype', {
          final: postJSON
        }).done(function(response) {
          document.getElementById("seg").innerHTML = response["Segment"]
        }).fail(function() {
          $(destElem).text("Error");
        });
        }
      });
    </script>
{% endblock scripts %}

{% block app_content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Bachelor Ranker</h1>
        <p class="lead">Rank the Ladies!</p>
        <hr class="my-4">
        <p>Simply drag and drop the items below in the order of who you think will win from <strong>most likely to win to least likely to win.</strong> When you're done simply copy and paste the numbers in blue below to Curtis.</p>
    </div>
    <h3 id='seg' class="alert alert-info" role="alert">Order ?</h3>
    <div class="container" style="max-width:90%; float: left;">
      <div id="el" class="list-group">
          {% for i in ordem.split('+') %}
              <div class="list-group-item list-group-item-action" data-id="{{ i }}">
                  <div style="font-size:1.15em; font-weight: 550;">
                    <mark>{{ i }}</mark>
                    <img src= "{{ url_for('static', filename='headshots/')}}{{i}}.png" height=125px/>
                    {{ s[i|int-1] }}
                 </div>
             </div>
          {% endfor %}
      </div>
    </div>
  </div>
  <div class="container">
  </div>
    </div>
  </div>
{% endblock %}